/* colors: 
#F27329 orange
#DFF2EB light
*/

* {
    margin: 0;
    padding: 0;
    color: #F27329;
    font-family: 'Roboto';
}
html {
    height: 100%;
    
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #DFF2EB;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 120px;
}

.nav_logo {
    border: 2px solid #F24405;
    border-radius: 0 10px 0 0;
    padding: 3px;
}

.nav_li ul{
    display: flex;
    justify-content: space-around;
}

.nav_li ul>li {
    list-style-type: none;
    padding: 0 10px;
}

.nav_li ul>li>a {
    text-decoration: none;
    font-size: 1.2em;
}

.nav_li ul>li:nth-child(1)>a {
    color: #FF0000;
}
.nav_li ul>li:nth-child(2)>a {
    color: #0088CC;
}
.nav_li ul>li:nth-child(3)>a {
    color: #1DA1F2;
}
.nav_li ul>li:nth-child(4)>a {
    color: #FFD700;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 36px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
    background-image: url('/img/sun.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;

    
}

  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #100D26;
    background-image: url('./img/moon.svg');
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 70%;
    flex: 1;
}
.about {
    width: 50vw
}
.btn {
    margin: 0 10px;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background: transparent
}



footer {
    display: flex;
    justify-content: center;
    height: 50px;
}

/* media */

/* portrait  */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    body {
        font-size: 1.2rem;
    }
    .nav {
        padding-top: 50px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    .nav_logo {
        
    }
    .nav_li {
        
    }
    .theme {
        display: none;
    }
    .body {
        display: flex;
        justify-content: center;
    }
    .about {
        width: 80vw;
    }
}